<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-otpreader" 
version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" 
xmlns:android="http://schemas.android.com/apk/res/android">
<name>otpreader</name>
  <js-module name="otpreader" src="www/otpReader.js"> 
 <clobbers target="cordova.plugins.otpreader" /> 
  </js-module> 
<js-module name="otpreader" src="www/otpReader.js"> 
 <clobbers target="cordova.plugins.otpreader" /> 
  </js-module> 
<platform name="android">
<config-file parent="/*" target="res/xml/config.xml">

<feature name="otpreader">
        <param name="android-package" value="cordova.plugin.otpreader.OtpReaderPlugin" />
</feature>
</config-file>

<config-file parent="/*" target="AndroidManifest.xml">
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
</config-file>

<config-file parent="/manifest/application" target="AndroidManifest.xml">

<activity android:name="cordova.plugin.otpreader.BaseActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

</config-file>
            <!-- <lib-file src="src/android/libs/upimetoolkit-1.0.jar" /> -->
<!-- <source-file src="upimetoolkit-1.0.jar" target-dir="lib" /> -->
 <framework src="src/android/otpreader_gradle.gradle" custom="true" type="gradleReference" />

<source-file src="src/android/Log.java" target-dir="src/cordova.plugin/otpreader" />
<source-file src="src/android/BaseActivity.java" target-dir="src/cordova.plugin/otpreader" />
<source-file src="src/android/OtpReaderPlugin.java" target-dir="src/cordova.plugin/otpreader" />
<source-file src="src/android/InternalPermissionListner.java" target-dir="src/cordova.plugin/otpreader" />
<source-file src="src/android/SmsListener.java" target-dir="src/cordova.plugin/otpreader" />
<source-file src="src/android/SmsReceiver.java" target-dir="src/cordova.plugin/otpreader" />

	</platform>
</plugin>


